# for python

.ipynb_checkpoints/

*/.ipynb_checkpoints/

__pycache__/

*/__pycache__/

# for R

.Rdata

*/.RData

.Rhistory

*/.Rhistory


# others
README.md

*/BigKindsParser.py

*/NanumBarunGothic.ttf

